.mobile_programs_stats_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 992px;
    margin-bottom: 60px;
    flex-shrink: 0;
    background: var(--Mode-Dark-3, #1a1c1d);

    .top_text_container {
        width: 312px;
        margin-top: 56px;

        .top_text {
            color: #fff;
            font-family: 'Poppins';
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 24px;
        }

        .bottom_text {
            color: #fff;
            font-family: 'Poppins';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .stats_container {
        display: flex;
        flex-direction: column;
        margin: 60px;

        .stat_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 312px;
            margin-bottom: 24px;

            .numbers {
                display: flex;
                overflow: hidden;
                height: 100px;

                text-align: center;
                font-family: 'Poppins';
                font-size: 64px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                background: var(--gradient-1, linear-gradient(90deg, #fe8c00 0%, #f83600 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                div {
                    background: var(--gradient-1, linear-gradient(90deg, #fe8c00 0%, #f83600 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .text {
                    margin-left: 12px;
                }
            }

            .description {
                text-align: center;
                color: #fff;
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    .scroll_up_1 {
        height: fit-content;
        animation-name: scroll_up_1;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .scroll_up_2 {
        margin-left: 6px;
        height: fit-content;
        animation-name: scroll_up_2;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .scroll_up_3 {
        height: fit-content;
        animation-name: scroll_up_3;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}
