.mobile_headquarters_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 672px;
  flex-shrink: 0;

  .title {
      margin: 102px 0 24px 0;
      font-family: 'Poppins';
      font-size: 31px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background: linear-gradient(90deg, #fe8c00 0%, #f83600 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .cards_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .custom_card {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: fit-content;
          width: 312px;
          height: 214px;
          flex-shrink: 0;
          margin-bottom: 24px;
          border-radius: 16px;
          position: relative;
          overflow: hidden;
          transition: all 0.5s;

          .background {
              position: absolute;
              top: 0;
              left: 0;
              transition: all 0.5s;
              width: 667px;
              height: 370px;
          }

          .name {
              width: 311px;
              color: #fff;
              font-family: 'Poppins';
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              z-index: 2;
              position: absolute;
              bottom: 64px;
              left: 0;
              margin-left: 16px;
          }

          .direction {
              width: 257px;
              color: #fff;
              font-family: 'Poppins';
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              z-index: 2;
              position: absolute;
              bottom: 16px;
              left: 0;
              margin-left: 16px;
          }
      }
  }
}